*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #c4cbd9;
  margin: 0;
  padding: 0;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 615px;
}

#footer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

a {
  color: #51595b;
  text-decoration: none;
}


.calculator-container {
  background-color: #333f3d;
  min-width: 340px;
  min-height: 500px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 6px 8px 16px 1px rgba( 51,63,61 , 0.35 ) ;
}

.display {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: #e7eefc;
  box-shadow: 1px 1px 6px #333F3D inset;
  margin: 0;
  vertical-align: bottom;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btn {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 8px;
  text-align: center;
}

button {
  border-radius: 15%;
  outline: none;
  background-color: white;
  height: 65px;
  color: white;
  border: none;
  font-size: 20px;
}

[data-number] {
  background-color: #51595b;
}

[data-operator], [data-equal-btn] {
  background-color: #95b0da;
  font-size: 30px;
}

[data-operator]:focus {
  opacity: 0.7;
}

[data-clear],
[data-all-clear] {
  background-color: #A9ABB9;
}

.zeroSign {
  grid-column: 3 / 1;
	border-radius: 1.0rem;
  text-align: start;
  padding-left: 30px;
}

.display {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #333f3d;
}

.result-dis, 
.operator {
  margin-right: 10px;
  margin-bottom: 15px;
}